*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 3%;
}

.cal{
    display: flex;
    flex-direction: column;
    background-color: #000;
    height: 100%;
    width: 30%;
    border-radius: 10px 10px 10px 10px;
    padding: 2%;
    color: black;
}
.screen{
    height: 30%;
    width: 100%;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    align-items:flex-end;
}

button:active {
    box-shadow: 0 1px #a8a8a8;
    transform: translateY(2px);
}

.keys{
    width: 100%;
    height: 68%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3%;
}

.keys .bttn{
    width: 25%;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    font-size: 20px;
}

.keys .equal{
    width: 50%;
    background-color: orange;
}

.keys .clined{
    background-color: orange;
}


@media screen and (min-width:100px) and (max-width:330px) {
    .cal{
        width: 70%;
    }
}

@media screen and (min-width:340px) and (max-width:500px) {
    .cal{
        height: 80%;
        width: 90%;
    }
}

@media screen and (min-width:500px) and (max-width:800px) {
    .cal{
        width: 70%;
    }
}
